*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
 overflow-x: hidden;
 overflow-y: hidden;
}

#map-area{
    height: 100vh;
    width: 100%;
}

#createform{
  background-color: #F3F3F4;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 19%;
  height: 100vh;
  padding-top: 1%;
  padding-left: 1%;
  z-index: 3;
  
 
  
}

.marker
{
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  cursor: pointer;
}

  .mapboxgl-popup-content {
    margin: 0;
    padding: 0;
   background-color: #fff;
   width: 400px;
   height: 200px;
   overflow: auto;
   color: black;
   font-size: 14px;
   padding-top: 65px;
  
  }
  .mapboxgl-popup-content > h3{
    margin-left: 15px;
    margin-right: 4px;
  }
  .mapboxgl-popup-content > p,h3{
   display: inline-block;
  }

  .mapboxgl-popup-close-button {
    color: black;
    font-size: 26px;
    
  }

  .mapboxgl-popup-tip {
    border-bottom-color: #e1b608 !important;
    margin-top: -1px;
  }


.header{
  margin-left: 20px;
}
  #cardheader{
    line-height: 50px;
    text-align: left;
    background: #e4e4e4;
    height: 50px;
    width: 100%;
    display: flex;
    position: absolute;
   font-size: 20px;
   
   color: black;
   top: 0;
  }

h2{
  margin-bottom: 10px;
  font-weight: 600;
}


  .markerimg{
    margin: 0;
    padding: 0;
      height: 175px;
      width: 175px;
      border-radius: 50%;
     bottom: 7%;
      right: 5%;
      position: absolute;
      margin-top: auto;
      margin-bottom: auto;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
  }

  .markerimg-cover{
    bottom: 7%;
      right: 5%;
      position: absolute;
      width: 175px;
      height: 175px;
      background-color: rgba(0,0,0);
      opacity: 0;
      transition: .3s ease;
      border-radius: 50%;
  }

  .seemoreimg{
   
    position: absolute;
    width: 175px;
    height: 175px;
    font-size: 120px;
    color: #fff;
    opacity: 1;
    text-align: center;
    line-height: 87.5px;
  
  }

 


  .markerimg-cover:hover{
    cursor: pointer;
    opacity: 0.5;
    width: 175px;
    height: 175px;
  }


  input[type=text]{
    margin: 0;
    display: block;
   background-color: #F3F3F4;
    border: 1px solid #ddd;
    border-bottom: 2px solid #091540;
    text-align: left;
    width: 70%;
    height: 25px;
    margin-bottom: 15px;
  }


  input[type=submit], select, .embedbtn{
    display: block;
    width: 200px;
    height: 30px;
    border: none;
    background-color: #e1b608;
    color: #fff;
    width: 70%;

    border-radius: 5px;
    margin-bottom: 15px;
    
  }

  input[type=submit]{
    margin-top: -30px;
  }

  input[type=submit]:hover{
    border: 2px solid #e1b608;
    background-color: #fff;
    color: #e1b608;
    transition: 0.4s;
  }

  select{
    background-color: #e4e4e4 !important;
    color: black;
    margin-top: 10px;
  }
   
  

  body{
    background-color: #F3F3F4;
    
  }

  #formcoords{
   visibility: hidden;

  }



  .cardbtn{
    width: 50px;
    height: 20px;
    border-radius: 3px;
    background-color: #e1b608;
    color: black;
    font-size: 12;
    border: none;
    text-decoration: none;
    margin: 35px 0px 0px 15px;
    
  }

  #cd_Id{
    font-size: 1px;
  }


  .modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
  }

  .modal-content{
    position: relative;
    margin:  auto;
    width: 100%;
    height: 100%;
  
  }

  .modal-images{
    margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
  }

  .modal-images > img{
   width: 200px;
   height: 200px;
   transition: 0.4s;

  }

  .modal-images > h1{
    margin: auto;
    font-size: 32px;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
  }

 

  .dragmarker{
    
    z-index: 1;
    background-color: #fff;
    background-image: url('dragmarker.png');
    
    position: absolute;
    top: 100px;
    right: 10px;
    width: 27px;
    height: 27px;

    max-width: 27px;
    max-height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;
    border: 1px solid #ddd;

  }
  

  .arrow {
   position: absolute;
   top: 50%;
   left: 95%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
   
   
   

  
  }

.slideleft{

  animation-name: Slideleft;
  animation-duration:0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.slideright{
  animation-name: Slideright;
  animation-duration:0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

  @keyframes Slideleft {
    from{
      margin-left: 0%;
    }
    to{
      margin-left: -19%;
    }
  }

  @keyframes Slideright {
    from{
      margin-left: -19%;
    }
    to{
      margin-left: 0%;
    }
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .embed{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    z-index: 1;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    overflow-y: scroll;
  }

  .embedpdf{
    
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    border: 2px solid red;
    margin-top: 50%;
    margin-bottom: 25px;
    

  }

  .embedbtn{
    font-size: 16px;
  }


  #btndelete,#btnedit{
    width: 80px;
    border-radius: 5px;
    color: #fff;

  }



  @media only screen and (max-width: 600px) {
    #createform, .embed{
      width: 35%;
    }
  }

  .moreimg-img:hover{
    width: 400px;
    height: 400px;
  }